P  {
	margin-top : 0;
	margin-bottom : 0;
	font-family : sans-serif;
}

H1  {
	font-family : serif;
	font-weight : bold;
	font-size : large;
	color : Yellow;
}

H2  {
	font-family : serif;
	font-size : medium;
	font-weight : bold;
	color : Yellow;
}

H3  {
	font-family : serif;
	font-weight : normal;
	font-size : medium;
	color : Yellow;
}

BODY  {
	background-color : #FFB6C1;	
}

.highlight {
	background-color : #98FB98;
}
.purple{
	caption : Purple;
	color : Purple;
}
.red{
	Caption : Red;
	color : red;
}
a{	
	text-decoration : none;
	color : #990099;
}
a:visited{
	color : #CC3399;
}
td.purple{
	caption :  White on Purple (Cell);
	background-color : Purple;
	color : white;
}
ul.disc{
	caption : Disc (Bullet);
	list-style : disc;
}
ul.circle{
	caption : Circle (Bullet);
	list-style : circle;
}
ul.square{
	caption : Square (Bullet);
	list-style : square;
}
ol.decimal{
	caption : Decimal (List);
	list-style : decimal;
}
ol.lowerroman{
	caption : Lower-roman (List);
	list-style : lower-roman;
}
ol.upperroman{
	caption : Upper-roman (List);
	list-style : upper-roman;
}
ol.loweralpha{
	caption : Lower-alpha (List);
	list-style : lower-alpha;
}
ol.upperalpha{
	caption : Upper-alpha (List);
	list-style : upper-alpha;
}
ul.none, ol.none{
	caption : Invisible Bullet;
	list-style : none;
}